
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #76838f ;
  background-color: #f0f2f5;
  height: 100%;
}
.btn-orange {
	color: #fff;
	background-color: #1482b9;
	border-color: #f58a16;
	width: 150px;
	margin: 0 auto;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #999999;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #dc6767;
  text-decoration: none;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.loginScreen {
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
}

/* login form */
.wrapForget{
	height:100%;
	text-align:center;	
}
.login-logo{
 display:inline-block;
 text-align:center;	
 margin-bottom:25px;
}
.login_outer{display: table;
    height: 100%;
    margin: 0 auto;
    width: 360px;
}
.login_form{ margin:0 auto; display:table-cell; vertical-align:middle;}
.login_form .form-control{height:42px;}
 @media (max-width: 400px) {
	.login_outer{width:auto;}
}
