/*
Theme Name: QODA
Theme URI: 
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Our 2015 default theme is clean, blog-focused, and designed for clarity. Twenty Fifteen's simple, straightforward typography is readable on a wide variety of screen sizes, and suitable for multiple languages. We designed it using a mobile-first approach, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: qoda


*/
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/FontAwesome.otf'),
  		url('../fonts/fontawesome-webfont.eot'),
		url('../fonts/fontawesome-webfont.svg'),
		url('../fonts/fontawesome-webfont.ttf'),
		url('../fonts/fontawesome-webfont.woff'),
		url('../fonts/fontawesome-webfont.woff2');	
  font-weight: normal;
  font-style: normal;
}
/* Webfont: Lato-Medium */@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
body{margin:0;padding:0;}
.main-container *{margin:0;padding:0;line-height:100%;font-family: Lato;text-decoration: none;color:black;list-style:none;}
.main-container{width:100%;}
.main-container h1{font:normal 50px Lato;color:#26272d;line-height:72px;}
.main-container h2{font:normal 42px Lato; color:#26272d;line-height:52px;margin-bottom:20px;}
.main-container p{font:normal 16px Lato;color:#8c8f94;line-height:28px;margin-bottom:35px;}
.header-landing{width:1170px;max-width:100%;margin:0 auto;position:relative;padding:25px 0;}
.header-landing .header-landing-left{width:50%;float:left;margin-top:-50px;}
.header-landing-left .menu-left{margin:0;padding:0;}
.header-landing-left .menu-left li{display:inline-block;float:left;margin-right: 15px;padding:0;}
.header-landing-left .menu-left li a{color:#26272d;font:normal 16px Lato;text-decoration:none;padding:12px 14px;display:inline-block;}
.header-landing-left .menu-left li a:hover{color:#1b1c1e;}
.header-landing-right{width:50%;float:right;margin-top:-50px;}
.header-landing-right .menu-right{margin:0;padding:0;text-align: right;}
.header-landing-right .menu-right li{display:inline-block;vertical-align:top;margin-right: 15px;padding:0;}
.header-landing-right .menu-right li a{color:#26272d;font:normal 16px Lato;text-decoration:none;padding:12px 14px;display:inline-block;}
.header-landing-right .menu-right li a:hover{color:#1b1c1e;}
a.link-btn-blue,.header-landing-right .menu-right li.link-btn-blue>a{background:#1481b9;color:white;border-radius:20px;padding:12px 24px;}
a.link-btn-blue i{color:white;margin-left:6px}
.responsive-icon>a{background:url(images/responsive-icon.png)left center no-repeat;}
.header-landing-logo{clear:both;text-align: center;margin:0 auto;}
.header-landing-logo>a{display:inline-block;}
.home.page .block-content-wrapper{width: 100%;position:relative;float:left;padding: 94px 0 0px;}
.block-content-wrapper{width:100%;position:relative;float:left;padding: 40px 0;}
/* .beautiful-interface{display:block} */
.beautiful-interface{display:none}
.block-content-wrapper>img.bg-block{width:100%;height:auto;position:absolute;top:0;left:0;z-index:1;}
.block-content-wrapper .block-content-inner,.block-content-inner{width:1170px;max-width:100%;margin:0 auto;position:relative;z-index:10;}
.banner-content-left img{float:right;vertical-align:middle;}
.banner-content-left{width:770px;max-width:100%;margin-right:30px;float:left;vertical-align: middle;}
.banner-content-right{width:370px;max-width:100%;float:left;}
.banner-wrapper{}
.clear-fix{clear:both;}
.banner-content-left h1{font:normal 50px Lato;color:#26272d;line-height:72px;}
.banner-content-left p{font:normal 14px Lato;color:#000;line-height:28px;margin-bottom:35px;}
.banner-content-left a{display:inline-block;}
.col-full-width{width:100%;}
.col-full-width h2{font:normal 42px Lato; color:#26272d;line-height:52px;margin-bottom:20px;text-align:center;}
.col-full-width p{font:normal 16px Lato;text-align:center;color:#8c8f94;line-height:24px;margin-bottom:25px;max-width:770px;margin:0 auto 25px;}
.banner-content-right img{
    width:100%;height:auto;resize:both;
}
.custom-logo-link img{max-height:54px;width:auto;resize:both;}
.heading-seperator{width:50px;height:2px;clear:both;margin:0 auto 35px;background:#267df4;}
.col-full-width img{max-width:100%;}
img.img-full-width{width:100%;max-width:100%;}
.col-half{width:570px;float:left;}
.col-half img{max-width:100%;}
.col-half:first-child{margin-right:30px;}
.col-half h2{font:normal 42px Lato; color:#26272d;line-height:52px;margin-bottom:20px;text-align:left;}
.col-half.last h2,.col-half.last p{margin-left:196px;}
.col-half.first h2,.col-half.first p{margin-right:128px;}
.col-half.last img{float:right;}
.bg_gray{background-color:#f5f5f8;}
.top_250 img{margin-top:-250px;}
.top_180 img{margin-top:-180px;}
.top_100 img{margin-top:-100px;}
.block-author-wrapper{padding:0 0 35px 0;background:#1481b9;float:left;width:100%;;}
.block-author-inner{padding:0 50px;width:1170px;margin:0 auto;text-align: center;position:relative;}
.block-author-inner p{text-align: center;font:normal 16px Lato;color:white;line-height:20px;margin-bottom:0;}
.block-author-inner p a{color:White;font-style: italic;}
.block-author-inner p i{color:white;margin-right:4px;}
.block-author-inner img{display: inline;margin-top:-8%;margin-bottom:10px;}
.footer-wrapper{width:100%;padding:30px 0;float:left;}
.footer-inner{width:1170px;margin:0 auto;max-width:100%;}
.footer-left{width:50%;float:left}
.footer-right{width:50%;float:right;}
.menu-footer{text-align:center;padding:12px 0;}
.copy-right{text-align:center}
.copy-right p{margin-bottom:0; font-size:14px;}
.menu-footer li{padding:0 8px;border-right:1px solid #646464;display:inline-block;}
.menu-footer li:last-child{border:none;}
.menu-footer li a{font:normal 14px Lato;line-height:20px;color:#646464}
.header-landing-reponsive-menu{display:none;width:50%;float:right;position:relative;}
.control-responsive{background:url(images/responsive-icon.png)right center no-repeat;float:right;cursor: pointer;height:55px;width:100%;display:block;}
.menu-responsive{display:none;position: absolute;width:100%;top: 40px;right:0;text-align: right;z-index:100;padding:10px 50px;
box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;margin-top:50px;}
.menu-responsive li {display:block}
.menu-responsive li a{display:block;padding:9px 15px;background:rgba(255,255,255,1);border-bottom:1px solid white;}
.menu-responsive li a:hover{background: rgba(21, 130, 186,1);color:white;}
.menu-responsive li.link-btn-blue a{background: #1481B9;color:white;}
.signup-form-wrapper{width:100%;background:#f2f2f3;padding-bottom:100px;}
.signup-form-inner{width:630px;margin:0 auto;padding-top:87px;}
.signup-form-inner h1{font:normal 42px Lato;color:#26272d;line-height:72px;text-align: center;}
.signup-form-inner .heading-seperator{margin:20px auto;}
.p_center{text-align:center;}
.signup-form-inner>.p_center{padding:0 90px;font-size:16px;}
.contact-form{border-top:5px solid #b8d9ea;background:white;padding:30px;}
.contact-form input[type=text],.contact-form input[type=email],.contact-form input[type=password],.contact-form select{
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;width:100%;padding:6px;border-radius:4px;border:1px solid #ccc;
    font:normal 14px Lato;line-height:1.2;padding:13px 14px;color:#666666;}
    .contact-form form p{margin-bottom:23px;}
.contact-form p label{display:block;font:normal 14px Lato;line-height:28px;color:#666;margin-bottom:6px;}
.contact-form p label span{width:100%;display:block;}
.contact-form input[type=submit]{display:inline-block;text-align: center;font:normal 16px Lato;color:white;padding:14px 0;width:100%;line-height:100%;background:#1481b9;
border:none;border-radius:25px;cursor:pointer;margin:17px 0 0;}
.contact-form textarea{width:100%;padding:6px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
border:1px solid #ccc;border-radius:4px;max-width:100%;}

.signup-form{background:white;padding:30px;}
.signup-form h2{font:lighter 24px Lato;color:black;line-height:28px;}
.signup-form h2 span{float:right;font:normal 14px Lato;line-height:28px;color:#333333;}
.signup-form h2>span>span{color:#1481b9;float:left;margin-right: 4px;}
.signup-form p{margin-bottom:8px}
.signup-form form p{margin-bottom:23px;}
.signup-form p label{display:block;font:normal 14px Lato;line-height:28px;color:#666;margin-bottom:6px;}
.signup-form p label span{color:#1481b9;float:left;display:inline;line-height:28px;margin-right:3px;}
.signup-form input[type=text],.signup-form input[type=email],.signup-form input[type=password],.signup-form select{
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;width:100%;padding:6px;border-radius:4px;border:1px solid #ccc;
    font:normal 14px Lato;line-height:1.2;padding:13px 14px;color:#666666;
}
.signup-form input.input-half,.signup-form select.input-half{width:47%;margin-right:4%;display:inline-block;vertical-align: top;}
.signup-form select{background:white url(images/dropdown-img.jpg)right center no-repeat;-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;cursor:pointer;}
.signup-form input.input-half:nth-child(3),.signup-form select.input-half:nth-child(3){margin-right: 0;}
.credit-card-wrapper{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;width: 100%;padding: 6px;border-radius: 4px;border: 1px solid #ccc;font: normal 14px Lato;
display:block;line-height: 100%;padding: 13px 14px;color: #666666;}
.credit-card-wrapper input[type="text"]{padding:0;border:none;width:70%;}
.card-wrapper{float:right;display:block;margin-top:2px;}
.card-wrapper span{width:19px;height:12px;display:inline-block;margin-left:5px;cursor:pointer;float:left;}
span.visa-card{background:url(images/visa-card.jpg)top left no-repeat;}
span.master-card{background:url(images/master-card.jpg)top left no-repeat;}
span.maestro-card{background:url(images/maestro-card.jpg)top left no-repeat;}
.col-70-percent{width:70%;float:left;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;padding-right:20px;}
.col-60-percent{width:60%;float:left;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;padding-right:20px}
.col-40-percent{width:40%;float:left;}
.col-30-percent{width:30%;float:left;}
.col-50-percent{width:50%;float:left;}
.col-50-percent.first{padding-right:10px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.col-50-percent.last{padding-left:10px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.signup-form input[type=submit]{display:inline-block;text-align: center;font:normal 16px Lato;color:white;padding:14px 0;width:100%;line-height:100%;background:#1481b9;
border:none;border-radius:25px;cursor:pointer;margin:17px 0 0;}
.agree-text{margin-top:30px;}
.agree-text p{margin:0;text-align: center;font: normal 16px Lato;line-height:20px;}
.agree-text p a{color:#1481b9;}
.input-error{border-color:#ff0000;}
.span-error{color:#ef0000;}
.signup-form a{color:#1481b9}
.form-seperator{background: #b8d9ea;width:100%;height:1px;margin: 39px 0 32px;display:block;clear:both;}
.wpb_content_element{margin-bottom:0!important;}
.vc_row{margin:0!important}
.vc_column-inner {padding:0!important}
.fa {
	font-family: FontAwesome !important;
	}
.info_register_boxcontent{position:absolute;width: 340px;height: 320px;padding: 40px 30px 40px;top: 60px;left:100px;background: white;box-shadow: 0 0 5px gray;}
.info_register_boxcontent h1{margin-bottom:15px;color:#26272d;}
.info_register_boxcontent p{font-size:42px;margin-bottom:35px;line-height:1.5;padding-right:20px;}
.info_register_boxcontent a.link-btn-blue{display:inline-block;}
h2.heading{font-size:30px;line-height:1.7;margin-bottom: 0;color:#26272d;}
h3.sub-heading{font-size:20px;line-height:1.7;margin-bottom:0;color:#26272d;}

.content_left{width:870px;max-width:74%;display:inline-block;vertical-align: top;padding-right:30px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.content_right{width:300px;max-width:25%;display:inline-block;vertical-align: top;}
.category_content_wrapper{padding-bottom:20px;}
.category_content_wrapper h2{margin-bottom: 0;;}
ul.list_category_wrapper{text-align: left;margin-top:5px;}
ul.list_category_wrapper>li{display:block;border-bottom:1px solid #e5e5e5;}
ul.list_category_wrapper>li span{display:inline-block;width:10px;height:11px;background: url(images/expand-img.jpg) -20px top no-repeat;margin-right:10px}
ul.list_category_wrapper>li:last-child{border:none}
ul.list_category_wrapper>li>a{color:#1a232a;padding:15px 0px 15px 0px;display:inline-block;}
ul.list_category_wrapper>li>a:hover{color:#1481b9;}
ul.list_category_wrapper li a:focus{color:#1481b9;}
ul.list_category_wrapper>li ul{display:none}
ul.list_category_wrapper>li ul li:first-child a{}
ul.list_category_wrapper>li ul li{padding:15px 0px 15px 35px;border-top:1px solid #e5e5e5;display:block;}
ul.list_category_wrapper>li ul li a{text-indent:35px;color:#1a232a;}
ul.list_category_wrapper>li ul li a:hover{color:#1481b9}
.show_expand{display:block!important;}
.close_expand{display:none!important;}
.plus_expand{background-position: -10px 0!important;}
.minus_expand{background-position: 0px 0!important;}
.list-post-item{width:100%;}
.single-post-item{padding:0px 0 30px;border-bottom:5px solid #e6e4e5;margin-bottom:30px;}
.single-post-item h3{text-transform: uppercase;color:#1b242b;margin-bottom:15px;line-height:2}
.single-post-item p,.tag-list,.tag-list a,.post-info {color:#8c9093;line-height:1.5;}
.post-info a{color:#1481ba;}
.single-post-item p{}
.single-post-item img{max-width:100%;margin:20px 0 36px;height:auto;resize:both;}
.single-post-item a.read-more-btn{text-transform: uppercase;color:white;padding:9px;background:#1481b9;display:inline-block;}

.comment_featured_wrapper{padding:0 0 20px 0}
.comment_featured_tab_control{}
.comment_featured_tab_control ul{display:table;table-layout: fixed;max-width:100%;overflow:hidden ;}
.comment_featured_tab_control>ul li{display:table-cell;background: #e0e0e0;}
.comment_featured_tab_control>ul li:first-child{border-right:5px solid white;}
.comment_featured_tab_control>ul li a{padding:15px 14px;color:#aaadb4;display:block;text-transform: uppercase;}
.comment_featured_tab_control>ul li.active_control{background:#f5f3f4;}
.comment_featured_tab_control>ul li.active_control a{color:#1680ba;padding:12px 14px 15px;border-top:3px solid #1481b9}
.tab_content_inner{display:none;}
.comment_list{background: #F5F3F4;padding:0 15px 20px;}
.comment_list li{padding:12px 0;border-bottom:1px solid #e0e0e0;color:#878787;line-height:1.5;}
.comment_list li:last-child{border:none;}
.comment_list li span{color:#374045;}
.comment_list li a{color:#1582bb;}
.latest_posts_inner{padding:0 15px 20px;background: #F5F3F4;display:block;float:left}
.latest_posts_inner li{color:#374045;padding:15px 0;border-bottom:1px solid #e0e0e0;line-height:1.5;width:100%;float:left;}
.latest_posts_inner li:last-child{border:none;}
.latest_posts_inner li img{max-width:30%;float:left;margin-right: 10px;resize: both;height:auto!important;}
.latest_posts_inner p{margin:0;color:#878787;}
.latest_posts_inner p i{color:#707579}
.sidebar-content-area h2{color:#1b242b;background:url(images/title-border-img.jpg)left bottom no-repeat;font-size:15px;text-transform: uppercase;font-weight:bolder;margin:0;line-height:2;padding-bottom:12px;}
.sidebar-content-area h2.bg_purple_line{background:url(images/title-border-img1.jpg)left bottom no-repeat;}
.tagcloud{padding-top:20px}
.tagcloud a{font-size:14px!important;display:inline-block;padding:14px 11px;border:1px solid #e4e4e4;color:#8d9095;margin-right:10px;margin-bottom:10px;}
.tagcloud a:hover{color:#1380b8;border:1px solid #1481b9;}
.widget_tag_cloud{padding:0px 0 20px;clear:both}
.share_social{padding:20px 0;}
.comment-content{padding:19px;background:#f5f3f4;}
.comment-content p{color:#949494;margin-bottom:10px;}

.content_single_detail{padding:20px 0 0;color:#949494;line-height: 2;}
.content_single_detail img{margin-bottom:25px;max-width:100%;}
.content_single_detail p{margin-bottom:25px;line-height:2;}
.content_single_detail a{color:#1380b9}
.content_single_detail p:last-child{margin:0;}
p.comment-notes span{color:inherit}
a.comment-reply-link,a.comment-reply-link i{margin-bottom:15px;color:#1380b9;margin-top:10px;}
.link-author-avatar{display:inline-block;float:left;}
.link-author-avatar img{padding-right:20px;}
.comment-infor{padding:24px 0 36px;background: url(images/comment-infor-img.jpg)20px 0 no-repeat;}
.comment-infor p{margin:0;color:#000;}
.comment-infor p span{color:#939393;}
#commentform>li{width:50%;float:right;}
#commentform>li> div{padding:1px 10px 10px;border:1px solid #dddddd;box-shadow: 0 1px 0 #f6f6f6 inset;}
#commentform>li textarea{width:100%;min-height:210px;border:none;padding:12px 0;font-size:14px;line-height:1.5;max-width:100%;}
#commentform>ul{width:50%;float:left;}
#commentform>ul li{padding-right:20px;margin-bottom:24px;}
#commentform>ul li div{padding:1px 10px;border:1px solid #dddddd;box-shadow: 0 1px 0 #f6f6f6 inset;}
#commentform>ul li input{width:100%;border:none;padding:12px 0;font-size:14px;line-height: 1.5;}
#commentform label{padding-bottom:10px;display:block;color:#393e44;}
#commentform p.form-submit{padding-top:20px;margin:0;}
.comment-single h2,.comment-respond h2{text-transform:uppercase;font-size:22px;}

.pagination_page{margin-top:18px;}
.pagination_page li{display:inline-block;}
.pagination_page li span{display:inline-block;padding:12px;font-size:18px;color:#1481b9;}
.pagination_page li a{display:inline-block;padding:12px;font-size:18px;color:#8d9194;}
.list_featured li{padding:20px 0;border-bottom:1px solid #e5e5e5;}
.list_featured li:last-child{border:none;}
.list_featured li a img{max-width:100%;resize:both;padding-bottom:20px;height:auto; }
.list_featured li h3{font-size:18px;line-height:1.5;text-indent:10px}
.list_featured li p{color:#707579;margin:0;line-height:1.5;}
.list_featured li p i{padding-bottom:15px;color:inherit;display:block;}
.featured_posts_wrapper{padding:0 0 20px 0;}

.list_featured li p a{color:#1382ba;}
.btn-submit-blue{border: none;background:#1481b9;color:white;text-transform:uppercase;font-size:14px;line-height: 1;padding:14px;display:inline-block;cursor:pointer;}
.share_social{vertical-align: middle;color:#384043;}
.share-social-list{display:inline-block;vertical-align: middle;}
.share-social-list li{display:inline-block;margin-left:8px;}
.share-social-list li a{line-height:14px;}
.social-icon{width: 16px;height:14px;display:inline-block;background:url(images/social-share-img.jpg)top left no-repeat;}
.social-icon.facebook{background-position:0 0px ;}
.social-icon.twitter{background-position:0 -14px ;}
.social-icon.googleplus{background-position:0 -28px ;}
.social-icon.pinterest{background-position:0 -42px ;}
.breadcrumb_wrapper{width:100%;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#449bc8+0,41a6d2+25,3eb3de+50,39c2ec+75,33d6ff+100 */
background: #449bc8; /* Old browsers */margin-bottom:98px;
background: -moz-linear-gradient(left,  #449bc8 0%, #41a6d2 25%, #3eb3de 50%, #39c2ec 75%, #33d6ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #449bc8 0%,#41a6d2 25%,#3eb3de 50%,#39c2ec 75%,#33d6ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #449bc8 0%,#41a6d2 25%,#3eb3de 50%,#39c2ec 75%,#33d6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#449bc8', endColorstr='#33d6ff',GradientType=1 ); /* IE6-9 */
}
.breadcrumb_wrapper ul{padding:10px 0;}
.breadcrumb_wrapper ul li{display:inline-block;}
.breadcrumb_wrapper ul li a{color:White;padding:0 20px;display:inline-block;}
.breadcrumb_wrapper ul li i{font-style: normal;color:white}
.block-author-wrapper.space-top{margin-top:90px;}
.main-content-wrapper{padding-bottom:40px;}
a.current_active{color:#1481ba!important}
.bg_bridge{background:url(images/stockvault-san-francisco111358.jpg)center no-repeat;}
.page-template-default .block-content-inner h3{margin-bottom:15px;}
.tab-register-control{display:table;max-width:100%;}
.tab-register-control li{display:table-cell;background:#C3C3C9;border-right:4px solid #F2F2F3;}
.tab-register-control li a{border-top:5px solid #C3C3C9;}
.tab-register-control li.current_show{background:white;}
.tab-register-control li.current_show a{border-top:5px solid #b8d9ea;}
.tab-register-control li a{display:block;padding:14px 20px;}
p.text_description{color:#6c6c6c;font-size:14px;}
p.text_description i{color:inherit}
.responsive-icon.menu-item{position:relative;}
.responsive-icon.menu-item>ul{-webkit-transition: height 400ms ease-in-out;
-moz-transition: height 400ms ease-in;
-ms-transition: height 400ms ease-in;
-o-transition: height 400ms ease-in;
transition: height 400ms ease-in;min-width:200px;position:absolute;display:none;top:35px;left:0;z-index:100;overflow:hidden;height:auto;padding-top:18px;}
.responsive-icon.menu-item>ul li{width:100%;display:block;background:white;border-bottom:1px solid #eee;}
.responsive-icon.menu-item>ul li:last-child{border:none;}
.responsive-icon.menu-item>ul li:hover{border-bottom:1px solid #1481B9;}
.responsive-icon.menu-item>ul li a{padding:12px 22px;display:block;}
.responsive-icon.menu-item>ul li a:hover{background:#1481B9;color:white;}

.menu-responsive .responsive-icon.menu-item>ul{display:block;width:100%;padding:0;position:relative;height:auto;top:0;min-width:0;}
.menu-responsive .responsive-icon.menu-item>a{display:none;}
.menu-responsive .responsive-icon.menu-item>ul li{display:block;position: relative;border:none;}
.menu-responsive .responsive-icon.menu-item>ul li a{padding:9px 15px;width:auto;}
.bottom_80{padding-bottom:80px;}
.error{color:red;clear: both;display:block;margin-top:10px;}
.field_error{border:1px solid red!important;}
span.card-type-selected{outline:red solid 1px;}
.page.page-template-default .content-wrapper{min-height:450px;}
@media only screen and (min-width: 1800px){
	.block-content-wrapper>img.bg-block {
    width: 100% !important;
    height: auto !important;
	}
}
@media only screen and (max-width: 1170px){
    .header-landing,.block-content-wrapper .block-content-inner,.block-content-inner,.block-author-inner,.footer-inner{width:1024px;}   
    .banner-content-left{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;padding-right:30px;width:65%;margin:0}
    .banner-content-right{width:35%;}   
    .col-half{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;width:50%;}
    .col-half.first{padding-right:30px;margin:0;}.top_250 img{margin-top:-50px;}
    .top_180 img{margin-top:-50px;} 
}
@media only screen and (max-width: 1025px) {  
    .header-landing-reponsive-menu{display:inline-block;}
    .header-landing .header-landing-left,.header-landing .header-landing-right{display:none;}
    .header-landing-logo{text-align: left;}
    .header-landing-logo>a{width:50%;display:inline-block;vertical-align: top;}
    
}
@media only screen and (max-width: 1024px) {    
    .header-landing,.block-content-wrapper .block-content-inner,.block-content-inner,.block-author-inner,.footer-inner{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;padding-left: 50px;padding-right: 50px;width:100%;}
    
      
    .header-landing .header-landing-left,.header-landing .header-landing-right{margin:0;padding-bottom:20px;}
    .header-landing-logo{padding-bottom:10px;}
    .info_register_boxcontent{left:30px;}
}
@media only screen and (max-width: 900px) { 
    .banner-content-left{width:80%;margin:0}
    .banner-content-right{width:20%;} 
    .col-half.last h2,.col-half.last p{margin-left:40px;}
    .col-half.first h2,.col-half.first p{margin-right:40px;}
    .content_left,.content_right{width:100%;padding:0 0 30px 0;max-width:none}
    .info_register_boxcontent{left:30px;opacity: 1; max-width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width: 350px;height: 350px;padding: 30px;top: 85px;}
}
@media only screen and (max-width: 870px) {     
    .banner-content-left h1{font: normal 30px Lato;line-height:1.5}
}
@media only screen and (max-width: 767px) { 
.info_register_boxcontent h1{font-size:25px;line-height:1.5;margin-bottom:0;}
.info_register_boxcontent p{font-size:20px;margin-bottom:8px;} 
.info_register_boxcontent{left:0;width:100%;opacity: 1;top:0;padding:15px 30px;height:auto;box-shadow:none;}
}
@media only screen and (max-width: 630px) {
    .signup-form-inner{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;padding-right:20px;padding-left:20px;width:100%;}
    .header-landing{padding-left:20px;padding-right:20px;}.menu-responsive{padding-left: 20px;padding-right: 20px;width:100%;}
    .col-70-percent,.col-60-percent,.col-40-percent,.col-30-percent{width:100%;padding-right:0;}
    .credit-card-wrapper input[type="text"]{width:50%;}
    .signup-form-inner > .p_center{padding:0}
    
.block-author-wrapper.space-top{margin-top:20px;}
}
@media only screen and (max-width: 550px) {  
    .col-half,.banner-content-left,.banner-content-right,.footer-left,.footer-right{width:100%;padding:0!important;}
    .footer-left,.footer-right,.menu-footer{text-align: center;}    
    .col-half.last img{float:none;}
    .col-half.last h2,.col-half.last p{margin:0;}    
    .top_250 img{margin-top:10px;float:none;}
    .top_180 img{margin-top:10px;float:none}
    .block-content-wrapper{padding: 54px 0 50px;}   
    .col-half h2{font-size:30px;margin:0!important}
    .col-half p{margin:0!important;}
    .col-full-width h2{font-size:30px;}input.input-half,select.input-half{width:100%!important;margin:0;margin-bottom:8px;}
    .info_register_boxcontent{}
#commentform > ul,#commentform > li{width:100%;margin-bottom:20px;}#commentform > ul li{padding-right: 0;}
#commentform > ul li.m_bottom_20{padding-right: 0;}
#commentform > ul li.m_bottom_20> div{padding:1px 10px 10px;border:1px solid #dddddd;box-shadow: 0 1px 0 #f6f6f6 inset;}
#commentform > ul li.m_bottom_20 textarea{width:100%;min-height:210px;border:none;padding:12px 0;font-size:14px;line-height:1.5;max-width:100%;}
    
}
@media only screen and (max-width: 500px) {    
    .header-landing,.block-content-wrapper .block-content-inner,.block-content-inner,.block-author-inner,.footer-inner,.menu-responsive{padding-left: 20px;padding-right: 20px;width:100%;}
        .breadcrumb_wrapper ul li a{padding:0 8px;}
.block-author-wrapper.space-top{margin-top:10px;}

}